{% extends "_base.html" %}

{% block content %}

<div class="row">

  <div class="col-lg-7">
    <h2>Select an Image</h2>
    <br>
    <div id="queryImage" class="row-lg-5">
      <div class="col-md-2">
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/all_souls_000013.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/ashmolean_000058.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/balliol_000051.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/bodleian_000107.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/cornmarket_000047.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/christ_church_000179.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/hertford_000015.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/keble_000245.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/magdalen_000078.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/pitt_rivers_000033.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/radcliffe_camera_000519.jpg" style="height: 80px;" class="img"></p>
      </div>
      <div class="col-md-2">
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/all_souls_000026.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/ashmolean_000000.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/balliol_000187.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/oxford_002416.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/cornmarket_000105.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/oxford_002734.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/oxford_001752.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/keble_000214.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/oxford_003335.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/pitt_rivers_000119.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/oxford_002904.jpg" style="height: 80px;" class="img"></p>
      </div>
      <div class="col-md-2">
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/oxford_002985.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/ashmolean_000269.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/balliol_000167.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/bodleian_000108.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/cornmarket_000019.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/christ_church_000999.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/oxford_000317.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/keble_000227.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/magdalen_000058.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/pitt_rivers_000153.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/radcliffe_camera_000523.jpg" style="height: 80px;" class="img"></p>
      </div>
      <div class="col-md-2">
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/all_souls_000051.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/ashmolean_000007.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/balliol_000194.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/bodleian_000407.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/oxford_000545.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/christ_church_001020.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/hertford_000027.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/keble_000028.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/oxford_001115.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/pitt_rivers_000087.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/radcliffe_camera_000095.jpg" style="height: 80px;" class="img"></p>
      </div>
      <div class="col-md-2">
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/oxford_003410.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/ashmolean_000305.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/oxford_001753.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/bodleian_000163.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/cornmarket_000131.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/oxford_002562.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/hertford_000063.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/keble_000055.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/magdalen_000560.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/pitt_rivers_000058.jpg" style="height: 80px;" class="img"></p>
        <p><img id="IMG1" src="https://storage.googleapis.com/cbirdemo.appspot.com/queries/bodleian_000132.jpg" style="height: 80px;" class="img"></p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <h2>Results</h2>
    <br>
    <p id="searching">Searching...</p>
    <p id="error">Oh no! No results! Check your internet connection.</p>
    <table class="table" id="results-table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Compare to Groundtruth</th>
        </tr>
      </thead>
      <tbody id="results">
      </tbody>
      <p id="apScore"></p>
    </table>
  </div>

</div>

<br>

{% endblock %}